<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Создать статью</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;800&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
  </head>



  <body>
    <header class="header">
      <div class="wrapper">
        <div class="header__container">
          <div class="header__logo"><p>Практика</p></div>
          <div class="header__search">
            <input type="text" name="header-search" placeholder="поиск...">
          </div>
          <nav class="header__menu">
            <div class="header__menu-item"><a class="header__menu-item-link" href="/">статьи</a></div>
            <div class="header__menu-item header__menu-item-active"><a class="header__menu-item-link" href="/write">создать</a></div>
            <div class="header__menu-item"><a class="header__menu-item-link" href="/profile">профиль</a></div>
          </nav>
        </div>
      </div>
    </header>



    <main class="main">
      <div class="wrapper">
        <div class="main__continer">

        <!-- загрузить статью -->
        <div class="main__load-article-container">
          <div class="main__load-article load-article">
            <div class="load-arctile__name">
              <input class="load-article__name-input" type="text" name="load-article__name-input" placeholder="введите название статьи...">
            </div>
            <div class="load-article__text">
              <textarea class="load-article__textarea" name="load-article__textarea" placeholder="введите содержание статьи"></textarea>
            </div>
          </div>
          <button class="main__load-article-button" type="submit" name="main__load-article-button">Загрузить</button>  
        </div>
        

      </div>
    </main>
  </body>

  <script src="js/main.js"></script>
</html>
